/*
*
* Autor: edgar caleb muñoz fernandez;
* Año: 2015;
* Proyecto: xms-x;
*/
div#list_users h4 {
    background: #337ab7;
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    padding: 14px 22px;
    color: #fff;
    margin-top: -3px;
    font-weight: normal;
    font-size: 0.75em;
    text-transform: uppercase;
}
.fl {
    float: left;
}

body {
    color: #333333;
    font-family: 'Helvetica Neue',Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    opacity: 1;
    background-color: #fff;
    background-image: url(../imagenes/bg-pattern-gray.png) !important;
}
* {
    margin: 0;
    padding: 0;
}
.form-panel {
    background: #ffffff;
    margin: 0;
    padding: 10px;
    box-shadow: 0px 3px 2px #aab2bd;
    text-align: left;
}
.form-horizontal, .control-label {
    text-align: left;
    font-weight: normal;
}
